<section class="AdminPage">
    <aside class="ADSidebar">
        <div class="ADSidebarLogoDiv">
            <img class="AdLogo" src="/images/Logo/MegaPaintsLogo.png" alt="">
        </div>
        <div class="ADSelectioSideBarDIv">
            <a href="/admin">
                <div class="Category ">
                    <p class="ADDelectionSideBarLabel">Category</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>
            <a href="/admin/Sub-Category">
                <div class="Category ADactiveButton">
                    <p class="ADDelectionSideBarLabel">Sub-Category</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>
            <a href="/admin/Product">
                <div class="Category">
                    <p class="ADDelectionSideBarLabel">Product</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>
            <a href="/admin/Additives">
                <div class="Category">
                    <p class="ADDelectionSideBarLabel">Additives</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>
            <a href="/admin/Binders">
                <div class="Category">
                    <p class="ADDelectionSideBarLabel">Binders</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>
            <a href="/admin/Employees">
                <div class="Category">
                    <p class="ADDelectionSideBarLabel">Employees</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>
            <a href="/admin/Customers">
                <div class="Category">
                    <p class="ADDelectionSideBarLabel">Customers</p>
                    <img src="/images/Icons/MoreSelect.png" alt="" class="ADMoreIcon">
                </div>
            </a>

            <div class="ADAccount">
                <p class="ADDelectionSideBarLabel">Account</p>
                <img src="/images/Icons/MoreSelect.png" alt="" class="ADAccountIcon">
            </div>

            <div class="ADAccountExpandDiv">
                <a href="/logout">
                    <div class="ADlogoutDiv">
                        <p>Logout</p>
                        <img src="/images/Icons/logout.png" alt="" class="ADLogoutIcon">
                    </div>
                </a>
            </div>

        </div>
    </aside>
    <section class="AdMainArea">
        <div class="ADMainAreaDiv">
            <div class="ADMainAreaHeaderDiv">
                <p class="ADMainAreaHeader">Sub Category</p>
            </div>
            <div class="ADMainAddButtonDiv">
                <a href="/addCategory">
                    <div class="ADMainAddButton">
                        <p>Add New</p>
                        <img src="/images/Icons/add.png" alt="" class="ADAddNewIcon">
                    </div>
                </a>
            </div>
            <div class="ADSubCategorySelectionArea">
                <div class="ADSubCategorySelectionDiv">
                    <p class="ADSubCategorySelectionLabel">Select Category</p>
                    <select class="ADSubCategorySelectionSelectBox" name="Sub-Category" id="">
                        <option value=""  selected>All Category</option>
                        <option value="" >Paint</option>
                        <option value="" >Tapcoats</option>
                    </select>
                </div>
            </div>
            <div class="ADMainTableDiv">
                <table id="" class="ADMainTable">
                    <thead class="ADTableHead">
                        <tr class="ADTableHeadTR">
                            <th>ID</th>
                            <th>Sub-Category</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Mipa_2K_PUR</td>
                            <td>Paint</td>
                            <td><a href="" class="btn btn-primary">Edit</a></td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>Mipa_2K_PUR</td>
                            <td>Paint</td>
                            <td><a href="" class="btn btn-primary">Edit</a></td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>Mipa_2K_PUR</td>
                            <td>Paint</td>
                            <td><a href="" class="btn btn-primary">Edit</a></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </section>
</section>