{{!-- <footer>
    <section>
        <div class="FooterSections">
            <div class="container">

            </div>
        </div>
    </section>
</footer>

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: 10vh;
    }

    .FooterSections {
        background-color: rgb(9, 9, 49);
    }
</style> --}}