<header>
    <div class="HeaderMainALl">

        <div class="Container">
            {{#if CustomerName}}
            <a href="/Customer">
                <div class="logo">
                    <img id="LogoImg" src="/images/Logo/logo.jpg" alt="logo">
                </div>
            </a>
            {{else}}
            <a href="/">
                <div class="logo">
                    <img id="LogoImg" src="/images/Logo/logo.jpg" alt="logo">
                </div>
            </a>
            {{/if}}
            <nav>
                <ul class="menu">

                    {{#if CustomerName}}
                    <li><a href="/Customer">
                            <div class="HeaderLinkItem">Home </div>
                        </a></li>
                    <li>
                        <a href="/Customer/CreateFormulas">
                            <div class="HeaderLinkItem">Create Formula </div>
                        </a>
                    </li>
                    <li><a href="/Customer/FormulaList">
                            <div class="HeaderLinkItem">Formula List </div>
                        </a></li>
                    <li><a href="/Customer/Orders">
                            <div class="HeaderLinkItem">Orders </div>
                        </a></li>
                    <li><a href="/Customer/UpdateStocks">
                            <div class="HeaderLinkItem">Inventory</div>
                        </a></li>
                    <li><a class="profile-btn" href="/customer/Logout/{{CustomerName}}">Logout </a></li>
                    {{else}}
                    <li><a href="/">
                            <div class="HeaderLinkItem">Home </div>
                        </a></li>
                    {{!-- <li>
                        <a href="/CreateFormulas">
                            <div class="HeaderLinkItem">Create Formula </div>
                        </a>
                    </li> --}}
                     <li>
                        <a href="/Production">
                            <div class="HeaderLinkItem">Production </div>
                        </a>
                    </li>
                    <li><a href="/FormulaList">
                            <div class="HeaderLinkItem">Formula List </div>
                        </a></li>
                    <li><a href="/Orders">
                            <div class="HeaderLinkItem">Orders </div>
                        </a></li>
                        <li>
                        <a href="/CustomerCollection">
                            <div class="HeaderLinkItem">Customer Collection </div>
                        </a>
                    </li>
                    <li><a href="/UpdateStocks">
                            <div class="HeaderLinkItem">Inventory</div>
                        </a></li>
                    <li><a class="profile-btn" href="/Logout">Logout </a></li>
                    {{/if}}
                </ul>
            </nav>

        </div>

    </div>
</header>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        width: 100%;
    }

    .Container {
        padding: 1rem 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .HeaderMainALl {
        background-color: #3d3d3d;
        /*#3D3D3D*/
        margin-bottom: 5rem;
    }

    .logo img {
        height: 50px;
        width: 55px;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        margin-right: 3rem;
    }


    .menu li a {
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
        font-size: 16px;
    }


    .menu {
        display: flex;
        justify-content: space-between;
        padding: 0;
        list-style: none;
    }



    .menu li:last-child {
        margin-right: 0;
        /* Remove right margin from the last list item */
    }

    .HeaderLinkItem {
        border-bottom: 2px solid gray;
    }

    .HeaderLinkItem:hover {
        border-bottom: 4px solid rgb(206, 206, 206);
    }

    .profile-btn {
        background-color: rgb(87, 87, 87);
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 25px;
    }
</style>