<section>
    <div class="container">
        <div class="LoginMainPage">

            <form action="/admin/change-password" method="post" class="form">
                <p class="form-title">Change Password</p>
                {{#if StateError}}
                <div class="container">
                    <p style="color: red;">{{StateError}}</p>
                </div>
                {{/if}}
                {{!-- <div class="input-container">
                    <input type="text" placeholder="Enter User Name" name="userName" required>
                    <span>
                    </span>
                </div> --}}
                <div class="input-container">
                    <input id="passwordInput1" type="password" placeholder="Enter Current password"
                        name="CurrentPassword" required>
                    <span id="togglePassword1" class="eye-icon"
                        onclick="togglePasswordVisibility('passwordInput1','togglePassword1')"></span>
                </div>
                <div class="input-container">
                    <input id="passwordInput2" type="password" placeholder="Enter New password" name="Newpassword1"
                        required>
                    <span id="togglePassword2" class="eye-icon"
                        onclick="togglePasswordVisibility('passwordInput2','togglePassword2')"></span>
                </div>
                <div class="input-container">
                    <input id="passwordInput3" type="password" placeholder="Enter New password" name="Newpassword2"
                        required>
                    <span id="togglePassword3" class="eye-icon"
                        onclick="togglePasswordVisibility('passwordInput3','togglePassword3')"></span>
                </div>
                <button type="button" class="submit" onclick="validatePasswords()">Submit</button>

                <p id="passwordError" style="color: red;"></p>
                {{!-- <p class="signup-link">
                    No account?
                    <a href="">Sign up</a>
                </p> --}}
            </form>

        </div>
    </div>
</section>




<script>
    function togglePasswordVisibility(pID, tID) {
        var passwordInput = document.getElementById(pID);
        var togglePassword = document.getElementById(tID);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.add("hide-password");
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove("hide-password");
        }
    }

    function validatePasswords(event) {
        //event.preventDefault(); // Prevent the form from submitting automatically 

        var currentPassword = document.getElementById("passwordInput1").value;
        var newPassword1 = document.getElementById("passwordInput2").value;
        var newPassword2 = document.getElementById("passwordInput3").value;
        var passwordError = document.getElementById("passwordError");

        if (newPassword1 !== newPassword2) {
            passwordError.textContent = "New passwords do not match.";
            return;
        }

        if (newPassword1 === currentPassword) {
            passwordError.textContent = "New password must be different from the current password.";
            return;
        }

        // If the conditions are met, submit the form
        document.querySelector(".form").submit();

        // Clear the error message if needed
        passwordError.textContent = "";
    }


</script>



<style>
    section {
        width: 100vw;
        height: 100vh;
        background-color: #6B7280;
    }

    .LoginMainPage {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10rem;
    }


    .form {
        background-color: #fff;
        display: block;
        padding: 1rem;
        max-width: 350px;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .form-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        text-align: center;
        color: #000;
    }

    .input-container {
        position: relative;
    }

    .input-container input,
    .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
    }

    .input-container input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 300px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .submit {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        background-color: #4F46E5;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        width: 100%;
        border-radius: 0.5rem;
        text-transform: uppercase;
    }

    .signup-link {
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
    }

    .signup-link a {
        text-decoration: underline;
    }

    .input-container {
        position: relative;
    }

    .eye-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        background-image: url('/images/Icons/view.png');
        /* Replace with your own eye icon image */
        width: 20px;
        height: 20px;
        background-size: cover;
    }

    .eye-icon.hide-password {
        background-image: url('/images/Icons/hide.png');
        /* Replace with your own eye icon image for hiding password */
    }
</style>