<section>
    <div class="KanbanMainDivArea">
        <div class="CustomContainer">
            <div class="KanbanHeaderMainDivArea">
                <div class="KanbanHeaderMainDivAreaRight">
                    <p class="KanbanHeaderText">MEGA PAINTS ACTIVITY BOARD</p>
                </div>
                <div class="KanbanHeaderMainDivAreaLeft">
                    <div class="search-input">
                        <i class="fas fa-search search-icon"></i>
                        <input type="text" class="input-field" placeholder="Search">
                        <i class="fas fa-bars menu-icon"></i>
                    </div>
                    <input type="button" class="CreateCustomerBTN btn" value="Create Customer">
                    <div class="input-button userBTN">
                        <input type="button" value="User" class="input-field  InputBTNField btn">
                        <i class="fas fa-user user-icon"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="KanbanBoard">
            <div id="moveableContainer" class="ListsCollections">
                {{!-- Order section --}}
                <div class="OrdersList">
                    <div class="OrdersListHeader">
                        <p class="ListHeaderText">ORDERS</p>
                    </div>
                    <div class="OrdersCardsCollection">
                        {{!-- each Card --}}
                        <div class="Card">
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>

                    </div>
                    <div class="AddSmCardDiv">
                        <p class="AddCardIconText">+</p>
                        <p class="AddCardText">Add new card</p>
                    </div>
                </div>

                {{!-- Office section --}}
                <div class="OfficeSectionList">
                    <div class="OfficeSectionListHeader">
                        <p class="ListHeaderText">OFFICE SECTION</p>
                    </div>
                    <div class="OfficeCardsCollection">
                        {{!-- each Card --}}
                        <div class="Card">
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                        {{!-- each Card --}}
                        <div class="Card">
                            <div class="CardImgDiv">
                                <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                            </div>
                            <p class="cardText">13-23-98-nihaldfs</p>
                            <div class="CardSub">
                                <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                <p class="CardSMCheckNum">0/3</p>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Production Sections --}}
                <div class="ProductionSectionCollection">
                    <div class="ProductionSectionMainHeader">
                        <p class="ProdctionSectionHeaderText">PRODUCTION</p>
                    </div>
                    <div class="ProductionListCollections">
                        <div class="ProductionColumn">
                            <div class="ProductionColumnHeader">
                                <p class="ProdctionSectionHeaderText">Shiyaz</p>
                                <input type="checkbox" class="ProductionCheckBox" id="Shiyaz" checked>
                            </div>
                            <div class="ProductionCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ProductionColumn">
                            <div class="ProductionColumnHeader">
                                <p class="ProdctionSectionHeaderText">Shiyaz</p>
                                <input type="checkbox" class="ProductionCheckBox" id="Shiyaz" checked>
                            </div>
                            <div class="ProductionCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ProductionColumn">
                            <div class="ProductionColumnHeader">
                                <p class="ProdctionSectionHeaderText">Shiyaz</p>
                                <input type="checkbox" class="ProductionCheckBox" id="Shiyaz" checked>
                            </div>
                            <div class="ProductionCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {{!-- Ready Sections --}}
                <div class="ReadySectionCollection">
                    <div class="ReadySectionMainHeader">
                        <p class="ReadySectionHeaderText">Ready</p>
                    </div>
                    <div class="ReadyListCollections">
                        <div class="ReadyColumn">
                            <div class="ReadyColumnHeader">
                                <p class="ReadySectionHeaderText">for Dispatch</p>
                            </div>
                            <div class="ReadyCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ReadyColumn">
                            <div class="ReadyColumnHeader">
                                <p class="ReadySectionHeaderText">for Customer collection</p>
                            </div>
                            <div class="ReadyCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                {{!-- Driver Sections --}}
                <div class="DriverSectionCollection">
                    <div class="DriverSectionMainHeader">
                        <p class="DriverSectionHeaderText">Drivers</p>
                    </div>
                    <div class="DriverListCollections">
                        <div class="DriverColumn">
                            <div class="DriverColumnHeader">
                                <p class="DriverSectionHeaderText">Shiyaz</p>
                                <input type="checkbox" class="DriverCheckBox" id="Shiyaz" checked>
                            </div>
                            <div class="DriverCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="DriverColumn">
                            <div class="DriverColumnHeader">
                                <p class="DriverSectionHeaderText">Shiyaz</p>
                                <input type="checkbox" class="DriverCheckBox" id="Shiyaz" checked>
                            </div>
                            <div class="DriverCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="DriverColumn">
                            <div class="DriverColumnHeader">
                                <p class="DriverSectionHeaderText">Shiyaz</p>
                                <input type="checkbox" class="DriverCheckBox" id="Shiyaz" checked>
                            </div>
                            <div class="DriverCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {{!-- Done Sections --}}
                <div class="DoneSectionCollection">
                    <div class="DoneSectionMainHeader">
                        <div class="centered-section">
                            <p class="DoneSectionHeaderText">Done</p>
                        </div>
                        <div class="search-input">
                            <i class="fas fa-search search-icon"></i>
                            <input type="text" class="input-field" placeholder="Search">
                        </div>

                    </div>
                    <div class="DoneListCollections">
                        <div class="DoneColumn">
                            <div class="DoneColumnHeader">
                                <p class="DoneSectionHeaderText">Today</p>
                            </div>
                            <div class="DoneCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="DoneColumn">
                            <div class="DoneColumnHeader">
                                <p class="DoneSectionHeaderText">
                                    < 7 Days</p>
                            </div>
                            <div class="DoneCardsCollections">
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                                {{!-- each Card --}}
                                <div class="Card">
                                    <div class="CardImgDiv">
                                        <img src="/images/RefImages/10001.jpg" alt="" class="CardImg">
                                    </div>
                                    <p class="cardText">13-23-98-nihaldfs</p>
                                    <div class="CardSub">
                                        <img src="/images/Icons/Discription_Gray.png" alt="" class="DescriptionSmIcon">
                                        <img src="/images/Icons/check_Gray.png" alt="" class="checkBoxSMIcon">
                                        <p class="CardSMCheckNum">0/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


{{!-- <div class="kanban-board" id="kanbanBoard">
</div> --}}



{{!-- <div class="kanban-board" id="kanbanBoard">
    <div class="column">
        <div class="InsideColumn">
            <h3>To Do</h3>
            <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)" data-column="0">
                <div class="carde" draggable="true" ondragstart="drag(event)" id="task-0-0">
                    <p class="CardText">
                        Feature A Task 1
                        asfasdfasfdsfdsfasdfdsfdasfasdfdsfsfafdsfasfdfasfdsfdsfasdfdsfdasfasdfdsfsfafddfasfdsfdsfasdfdsfdasfasdfdsfsfafddfasfdsfdsfasdfdsfdasfasdfdsfsfafddfasfdsfdsfasdfdsfdasfasdfdsfsfafd
                    </p>
                </div>
                <div class="carde" draggable="true" ondragstart="drag(event)" id="task-0-1">Task 2</div>
            </div>
        </div>
    </div>
    <div class="column">
        <h3>In Progress</h3>
        <div class="cards" ondrop="drop(event)" ondragover="allowDrop(event)" data-column="1">
            <div class="carde" draggable="true" ondragstart="drag(event)" id="task-1-0">Task 3</div>
            <div class="carde" draggable="true" ondragstart="drag(event)" id="task-1-1">Task 4</div>
        </div>
    </div>

    <!-- Add more columns here -->
</div> --}}





<script>

    // Get the reference to the image element by its ID
    var logoImg = document.getElementById('LogoImg');

    // Set the new image source (URL)
    logoImg.src = '/images/Logo/MegaPaintsLogo.png';



    // JavaScript to enable moving the container
    const container = document.getElementById('moveableContainer');

    let isDragging = false;
    let startX = 0;
    let scrollLeft = 0;

    container.addEventListener('mousedown', (e) => {
        isDragging = true;
        startX = e.pageX - container.offsetLeft;
        scrollLeft = container.scrollLeft;

        container.classList.add('grabbing');
    });

    container.addEventListener('mouseup', () => {
        isDragging = false;
        container.classList.remove('grabbing');
    });

    container.addEventListener('mousemove', (e) => {
        if (!isDragging) return;
        e.preventDefault();

        const x = e.pageX - container.offsetLeft;
        const walk = (x - startX) * 1;
        container.scrollLeft = scrollLeft - walk;
    });

    container.addEventListener('mouseleave', () => {
        isDragging = false;
        container.classList.remove('grabbing');
    });










    var columns = [
        {
            id: '6472429fde9d77f912facae6',
            name: '13-23-98-nihaldfs',
            status: 'InComplete',
            description: '',
            isAttachment: false,
            fileNo: '785412',
            contactDetails: {
                contactCountryCode: '+971',
                ContactNumber: '9078654321',
                WhatsappCountryCode: '+971',
                WhatsappContactNumber: '09876654331',
                AlternateContactCountryCode: '+971',
                AlternateContactNumber: '3216549870'

            },
            ListArray: [
                {
                    ListId: '6472429fde9d77f912facae6',
                    ListName: 'Orders',
                    InTIme: '32165498',
                    OutTime: '987654321',
                    InEmployeeName: 'SampleName',
                    InEmployeeDesignation: 'SampleDesignation',
                    OutEmployeeName: 'SampleName',
                    OutEmployeeDesignation: 'SampleDesignation'
                }
            ]
        }
    ]

    // Initial State object with dynamic columns
    let State = {
        columns: {
            Orders: [],
            OfficeSection: [],
            Production: [],
            Ready: [],
            Drivers: [],
            Done: []
        }
    };

    document.addEventListener('DOMContentLoaded', function () {
        //console.log('DOMContentLoaded event fired');
        fetchAllCards();
    });



    async function fetchAllCards() {
        try {
            const backendURL = '/getAllCardAndListsToManagement';
            //console.log("Called Fetch api")
            const response = await fetch(backendURL);

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json(); // Parse the response as JSON.
            // console.log("data", data); // Log the entire data object
            // console.log("AllCards", data.AllCards); // Log a specific property
            State.AllCards = data.AllCards;
            State.AllLists = data.AllLists
            UpdateStateWithCards();

            // Rest of your code
        } catch (error) {
            // Handle any errors that occurred during the fetch.
            console.error('Fetch error:', error);
        }
    }


    function UpdateStateWithCards() {

        var AllCards = State.AllCards;
        var AllLists = State.AllLists;

        console.log("State: ", State);

        for (i = 0; i < AllCards.length; i++) {
            var CardList = AllCards[i].CurrentList;

            AllLists.forEach((Onelist) => {
                if (CardList === Onelist.Name) {
                    State.columns[CardList].push(AllCards[i]);
                }
            })
        }

        console.log("New Updated State: ", State);
    }






    /*function renderKanban() {
        var kanbanBoard = document.getElementById('kanbanBoard');
        kanbanBoard.innerHTML = '';

        //var ListCollection = document.getElementById('ListCollections');


        State.columns.forEach(function (column, columnIndex) {
            var columnDiv = document.createElement('div');
            columnDiv.className = 'column';
            var columnInsideDiv = document.createElement('div');
            columnInsideDiv.className = 'InsideColumn';



            columnInsideDiv.innerHTML = '<h3>' + column.title + '</h3>';
            var cardsDiv = document.createElement('div');
            cardsDiv.className = 'cards';
            cardsDiv.setAttribute('ondrop', 'drop(event)');
            cardsDiv.setAttribute('ondragover', 'allowDrop(event)');
            cardsDiv.setAttribute('data-column', columnIndex);

            column.tasks.forEach(function (task, taskIndex) {
                var cardDiv = document.createElement('div');
                cardDiv.className = 'card';
                cardDiv.setAttribute('draggable', 'true');
                cardDiv.setAttribute('ondragstart', 'drag(event)');
                cardDiv.id = `task-${columnIndex}-${taskIndex}`;
                cardDiv.innerText = task;

                cardsDiv.appendChild(cardDiv);
            });

            columnInsideDiv.appendChild(cardsDiv);
            columnDiv.appendChild(columnInsideDiv);
            kanbanBoard.appendChild(columnDiv);
        });
    }

    renderKanban();*/

    /*function updateState(sourceColumn, destinationColumn, taskId) {
        const source = State.columns[sourceColumn];
        const destination = State.columns[destinationColumn];

        if (source && destination) {
            const taskIndex = taskId.split('-')[2];
            const taskToMove = source.tasks[taskIndex];

            if (taskToMove) {
                source.tasks.splice(taskIndex, 1);
                destination.tasks.push(taskToMove);
            }
        }
    }*/

    function updateState(sourceColumn, destinationColumn, taskId) {
        const source = State.columns[sourceColumn];
        const destination = State.columns[destinationColumn];

        if (source && destination) {
            const taskIndex = taskId.split('-')[2];
            const taskToMove = source.tasks[taskIndex];

            if (taskToMove) {
                source.tasks.splice(taskIndex, 1);
                destination.tasks.push(taskToMove);
            }
        }
    }


    /*document.addEventListener('drop', function (event) {
        event.preventDefault();
        const data = event.dataTransfer.getData('text/plain');
        const sourceColumn = data.split('-')[1];
        const destinationColumn = event.target.getAttribute('data-column');

        if (sourceColumn !== destinationColumn) {
            updateState(sourceColumn, destinationColumn, data);
            renderKanban();
        }
        console.log(State.columns);
    });*/


    document.addEventListener('dragstart', function (event) {
        event.dataTransfer.setData('text/plain', event.target.id);
    });






    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event) {
        event.dataTransfer.setData("text/plain", event.target.id);
    }

    function drop(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text/plain");
        var target = event.target;

        if (target.classList.contains("cards")) {
            target.appendChild(document.getElementById(data));
        }

    }

    // Attach event listeners to cards
    var cards = document.querySelectorAll(".card");

    cards.forEach(function (card) {
        card.addEventListener("dragstart", drag);
    });


    document.addEventListener('dragstart', function (event) {
        event.dataTransfer.setData('text/plain', event.target.id);
        event.dataTransfer.dropEffect = 'move'; // Specify the type of drag operation
    });

    // Modify the drop event to handle both inter-column and intra-column drops
    document.addEventListener('drop', function (event) {
        event.preventDefault();
        const data = event.dataTransfer.getData('text/plain');
        const sourceElement = document.getElementById(data);

        // Check if the drop target is a card or a column
        if (event.target.classList.contains('card')) {
            // Reordering within the same column
            const destinationCard = event.target;
            const sourceCard = sourceElement;

            if (destinationCard && sourceCard) {
                // Swap the positions of the cards in the DOM
                const destinationIndex = Array.from(destinationCard.parentElement.children).indexOf(destinationCard);
                const sourceIndex = Array.from(sourceCard.parentElement.children).indexOf(sourceCard);

                if (destinationIndex !== -1 && sourceIndex !== -1) {
                    destinationCard.parentElement.insertBefore(sourceCard, destinationCard);
                    // Update the State object to reflect the reordering
                    const sourceColumnIndex = sourceCard.getAttribute('id').split('-')[1];
                    const sourceTaskIndex = sourceCard.getAttribute('id').split('-')[2];
                    const destinationColumnIndex = destinationCard.getAttribute('id').split('-')[1];
                    const destinationTaskIndex = destinationCard.getAttribute('id').split('-')[2];

                    const sourceColumn = State.columns[sourceColumnIndex];
                    const destinationColumn = State.columns[destinationColumnIndex];

                    if (sourceColumn && destinationColumn) {
                        const taskToMove = sourceColumn.tasks[sourceTaskIndex];
                        if (taskToMove) {
                            sourceColumn.tasks.splice(sourceTaskIndex, 1);
                            destinationColumn.tasks.splice(destinationTaskIndex, 0, taskToMove);
                        }

                        console.log('Task reordered within column ' + sourceColumn.title);
                        console.log(State.columns);
                    }


                }
            }
        } else if (event.target.classList.contains('cards')) {
            // Moving a card to a different column (same logic as before)
            const sourceColumn = sourceElement.getAttribute('id').split('-')[1];
            const destinationColumn = event.target.getAttribute('data-column');

            if (sourceColumn !== destinationColumn) {
                updateState(sourceColumn, destinationColumn, data);
                renderKanban();
            }

            /*if (sourceColumn !== destinationColumn) {
                updateState(sourceColumn, destinationColumn, data);
                renderKanban();
            }*/
            console.log(State.columns);
        }

        // Re-enable the card's draggable attribute
        sourceElement.draggable = true;
    });



</script>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100wh;


        background-image: url("/images/wall2.jpg");
        /*KanbanWall.jpg*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .Container {
        padding: 0rem 7rem;
        overflow: none;
    }

    .HeaderMainALl {
        background-color: transparent;
        margin-bottom: -85px;
    }

    #LogoImg {
        height: 70px;
        width: auto;
        margin-top: 15px;
    }

    .CustomContainer {
        width: 100%;
        padding: 0 2rem;

    }

    .KanbanMainDivArea {
        width: 100wh;
        min-height: 100vh;
        /*background-image: url("/images/wall2.jpg");
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;*/
        padding-top: 6.5rem;
        filter: brightness(75%);
    }

    .KanbanHeaderMainDivArea {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        width: 100%;
        border: 1px solid black;
        background-color: #151919;
        border-radius: 10px;
        box-shadow: 9px 7px 11px 0px rgba(0, 0, 0, 1.2);
    }

    .KanbanHeaderMainDivAreaRight {
        display: flex;
        justify-content: start;
    }

    .KanbanHeaderText {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ffff;
        font-size: 35px;
        font-weight: 600;
        margin: 0;
    }

    .KanbanHeaderMainDivAreaLeft {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .search-input {
        position: relative;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Adjust the width as needed */
    }

    .search-icon {
        position: absolute;
        left: 10px;
        /* Adjust the position of the menu icon */
        top: 49%;
        transform: translateY(-50%);
        color: #00FDFD;
        /* Icon color */
    }

    .menu-icon {
        position: absolute;

        right: 10px;
        /* Adjust the position of the search icon */
        top: 49%;
        transform: translateY(-50%);
        color: #00FDFD;
        /* Icon color */
    }

    .input-field {
        padding: 5px 30px;
        /* Adjust the padding to make room for the icons */
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #00FDFD;
        border-radius: 5px;
        font-size: 20px;
        background-color: transparent;
        color: #00FDFD;
    }

    .CreateCustomerBTN,
    .InputBTNField {
        margin-left: 1rem;
        height: 36px;
        width: 160px;
        color: #00FDFD;
        border: 1px solid #00FDFD;
        transition: color 0.3s, background-color 0.3s;
    }



    .input-button {
        position: relative;
    }

    .user-icon {
        position: absolute;
        right: 29px;
        /* Adjust the position of the user icon */
        top: 50%;
        transform: translateY(-50%);
        color: #00FDFD;
        /* Icon color */
        transition: color 0.3s, background-color 0.3s;
    }

    .input-BTNfield {
        padding-right: 30px;
        /* Adjust the padding to make room for the user icon */
        width: 200px;
        /* Adjust the width as needed */
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: color 0.3s, background-color 0.3s;
    }

    .CreateCustomerBTN:hover,
    .userBTN:hover .InputBTNField,
    .userBTN:hover .user-icon {
        background-color: #00AFAF;
        color: #064d4d;
        /* Brighter color on hover */
        cursor: pointer;
        font-weight: 600;
        /* Change the cursor to a pointer on hover */
    }

    .KanbanBoard {
        width: 100wh;
        height: 85vh;

    }

    .ListsCollections {
        padding-top: 2rem;
        width: 100%;
        /* overflow-x: scroll;*/
        display: flex;
        justify-content: start;
        padding-right: 5rem;

        overflow: hidden;
    }

    /* Add cursor styles for better user experience */
    .ListsCollections.grabbing {
        cursor: grabbing;
    }

    .ListsCollections.grab {
        cursor: grab;
    }




    .OrdersList,
    .OfficeSectionList {
        width: 17rem;
        background-color: #151919;
        border-radius: 10px;
        margin-left: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        /*   border: .5px #00AFAF solid;*/
        padding: 1rem 0.5rem;
        height: 100%;

    }



    .ListHeaderText,
    .ProdctionSectionHeaderText,
    .ReadySectionHeaderText,
    .DriverSectionHeaderText,
    .DoneSectionHeaderText {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 0.5rem;
    }

    .OrdersCardsCollection,
    .OfficeCardsCollection {
        padding: 1rem 0;
        overflow: auto;
        max-height: 67vh;

    }

    .OfficeCardsCollection {
        max-height: 75vh;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #22272B;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #2a3137;
        border-radius: 10px;
    }

    .Card {
        border-radius: 10px;
        background-color: #30373d;
        padding: 1rem 0.5rem;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 1rem;
        margin-right: 3px;
        width: 15rem;
    }

    .cardText {
        margin: 0;
        color: #A4AFBB;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .CardSub {
        padding-top: 0.5rem;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .DescriptionSmIcon {
        height: 16px;
        margin-right: 10px;
    }

    .checkBoxSMIcon {
        height: 16px;
        margin-right: 4px;
    }

    .CardSMCheckNum {
        margin: 0;
        color: #A4AFBB;
        font-weight: 100;
        font-size: 16px;
        margin-top: 1px;
    }

    .CardImgDiv {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .CardImg {
        width: 100%;
    }

    .AddSmCardDiv {
        margin-top: 0.5rem;
        border: .5px solid #00FDFD;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00FDFD;
    }

    .AddCardIconText {
        font-size: 25px;
        font-weight: 800;
        margin: 0;
        margin-right: 1rem;
    }

    .AddCardText {
        font-size: 20px;
        margin: 0;
    }

    .ProductionSectionCollection,
    .ReadySectionCollection,
    .DriverSectionCollection,
    .DoneSectionCollection {
        margin-left: 2rem;
        /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
        /*   border: .5px #00AFAF solid;*/
        /*padding: 1rem 0.5rem;*/
        height: 100%;
        width: auto;
        background-color: transparent;
    }

    .ProductionSectionMainHeader,
    .ReadySectionMainHeader,
    .DriverSectionMainHeader,
    .DoneSectionMainHeader {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #151919;
    }

    .ProdctionSectionHeaderText,
    .ReadySectionHeaderText,
    .DriverSectionHeaderText,
    .DoneSectionHeaderText {
        padding: 0;
    }

    .ProductionListCollections,
    .ReadyListCollections,
    .DriverListCollections,
    .DoneListCollections {
        display: flex;
        justify-content: space-between;
    }

    .ProductionColumn,
    .ReadyColumn,
    .DriverColumn,
    .DoneColumn {
        width: 17rem;
        margin-top: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 1rem 0.5rem;
        background-color: #151919;
        margin: 1rem 0.5rem;
        height: 100%;
    }

    .ProductionColumnHeader,
    .ReadyColumnHeader,
    .DriverColumnHeader,
    .DoneColumnHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0.5rem;
    }

    .ProductionCheckBox,
    .DriverCheckBox {
        margin-left: 2rem;


        -webkit-appearance: none;
        /* Remove default styles (for WebKit browsers) */
        -moz-appearance: none;
        /* Remove default styles (for Firefox) */
        appearance: none;
        /* Remove default styles (for modern browsers) */
        width: 25px;
        /* Adjust the width of the custom checkbox */
        height: 25px;
        /* Adjust the height of the custom checkbox */
        border: 2px solid #00FFFF;
        /* Set the border color of the checkbox */
        border-radius: 3px;
        /* Add rounded corners to the checkbox */
        background-color: transparent;
        /* Set the background color of the checkbox */
        position: relative;
        /* Position relative to allow absolute positioning of the tick */
    }

    /* Style the checkbox when it's checked */
    .ProductionCheckBox:checked,
    .DriverCheckBox:checked {
        background-color: transparent;
        /* Change the background color when checked */
    }

    /* Create a tick symbol inside the checkbox */
    .ProductionCheckBox:checked::before,
    .DriverCheckBox:checked::before {
        content: '\2713';
        /* Unicode checkmark character */
        position: absolute;
        top: -5px;
        left: 2px;
        color: #00FFFF;
        /* Color of the tick */
        font-size: 23px;
        /* Size of the tick */
    }

    .ProductionCardsCollections,
    .ReadyCardsCollections,
    .DriverCardsCollections,
    .DoneCardsCollections {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 1rem 0;
        overflow: auto;
        max-height: 66vh;

    }


    .DoneSectionMainHeader {
        display: flex;
        justify-content: space-between;
        /* Distribute items along the main axis (horizontally) */
        align-items: center;
        /* Vertically center items */
        padding: 0.6rem 3rem;
        /* Add 3rem padding to the left and right */
    }

    .centered-section {
        flex: 1;
        /* Allow the centered section to expand and take up available space */
        display: flex;
        /* Apply flex layout to the centered section */
        justify-content: center;
        /* Center content horizontally within the centered section */
    }

    .DoneSectionHeaderText {
        margin: 0;
        /* Remove default margin for <p> element */
    }

    /* Add additional styling for the search input if needed */
    .search-input {
        /* Additional styling for the search input container */
    }



































    #kanbanBoard {
        display: flex;
        overflow: auto;
        /*white-space: nowrap;*/
        /* Allow unlimited horizontal space */
    }

    .kanban-board {
        padding: 20px;
        height: 100%;
    }

    .column {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        width: 250px;
        /* Increase the width to make columns wider */
        margin-right: 20px;
        height: 100%;
    }

    .InsideColumn {
        width: 230px;
    }

    .cards {
        /*min-height: 200px;*/
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        word-wrap: break-word;
    }

    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        word-wrap: break-word;
    }

    .card:hover {
        background-color: #f0f0f0;
    }

    .CardText {
        word-wrap: break-word;
    }
</style>