body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* employee Login Form */

.FullWidth {
  width: 100%;
}

.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
  border: 1px solid #F7F7F8;
  filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8B8E98
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115DFC;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8B8E98;
  text-decoration: underline;
}




/* ButtonForPrint */
.ButtonForPrint {
  width: 50%;
  height: 5rem;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: blue;
}

.ButtonForPrint:hover {
  color: yellow;
  background-color: red;
}


/* Create Fromula */

.containerForCF {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.CFBorder {
  border: 3px solid gray;
  width: 100%;
}

.Cf_Header_Area {
  width: 100%;
  height: 8rem;
  border: 1px solid gray;
  display: flex;
  justify-content: end;
}

.MixerDetails {
  display: flex;
  align-items: center;
}

.Cf_Header_Area_Buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.Cf_Header_Area_Buttons_EachOne {
  margin: 10px 10px;
  width: 150px;
  border: #242424 2px solid;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 21, 28);
  color: whitesmoke;
  font-size: 18px;
}

.Cf_Header_Area_Buttons_EachOne:hover {
  font-weight: 600;
  background-color: rgb(7, 12, 81);
  color: aliceblue;
}

.CFClearAllBTN {
  text-decoration: none;
}

.CFClearAllBTN:hover {
  color: whitesmoke;
}

.CFHeaderDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.CFHeaderLable {
  font-size: 35px;
  font-weight: 700;
}

.CFdropdown {
  position: relative;
  display: inline-block;
}

.CFdropdown-button {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  background-color: #434343;
  color: whitesmoke;
  font-size: 18px;
}

.CFdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.CFdropdown-content button {
  color: black;
  padding: 12px 16px;
  display: block;
  width: 100%;
}

.CFdropdown:hover .CFdropdown-content {
  display: block;
}

.BasicDetailsMainDiv {
  width: 100%;
}

.BasicDetails {
  margin: 3rem 0;
  display: flex;
  /* background-color: red; */
  width: 100%;
  height: 15rem;
}

.BasicDetailsLeftSection {
  width: 33%;
  height: 15rem;
  border: 1px solid gray;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}

.BasicDetailsCenterSection {
  width: 34%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(48, 48, 48); */
}

.BasicDetailsRightSection {
  width: 33%;
  height: 15rem;
  border: 1px solid gray;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(158, 158, 158); */
}

.CFDateDiv,
.CFFileNODiv,
.CFProjectNoDiv,
.CFCustomerNameDiv,
.CFCustomerRefDiv,
.CFColorCodeDiv,
.CFColorNameDiv {
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem;
  margin-left: 0;
  justify-content: space-between;
}

.CFDateDiv p,
.CFFileNODiv p,
.CFProjectNoDiv p,
.CFCustomerNameDiv p,
.CFCustomerRefDiv p,
.CFColorCodeDiv p,
.CFColorNameDiv p {
  margin: 1rem 2rem;
  font-size: 20px;
  font-weight: 700;
}

.BasicDetails input[type="date"],
[type="text"] {
  width: 50%;
  font-size: 20px;
  font-weight: 700;
  padding-left: 1rem;
}

.BasicDetailsEndHR {
  margin-top: 2rem;
}

.CFSelectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 3rem;
}

.CFSelectCategory,
.CFSelectSubCategory {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.CFSelectCategoryLabel,
.CFSelectSubCategoryLabel {
  margin: 1rem 2rem;
  font-size: 20px;
  font-weight: 700;
}

.CFCategory,
.CFSubCategory {
  width: 60%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 1rem;
  padding: 1rem 1rem;

}


/* create formula table */
.MainMixingTableDiv {
  margin-top: -2rem;
  margin-bottom: 3rem;
}

.CFTableHeadRow {
  background-color: gray;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.CFTableRowData {
  padding: 1rem 0;
}

.AddIcon {
  width: 15px;
  height: 15px;
  margin-left: 1rem;
}

.CFBindersAndAdditivesUnits {
  display: flex;
  width: 100%;
  justify-content: end;
}

.CFeachUnit {
  width: 136px;
  margin-left: 0rem;
}

.CFUnitsTotal {
  font-size: 15px;
  font-weight: 600;
}

.CFTotalInputElements {
  margin-left: 2rem;
}

.CFTotalWithoutAdditives {
  /* border: 1px solid rgba(0, 0, 0, 0.529); */
  border-top: transparent;
  width: 48%;
  display: flex;
  align-items: center;
  height: 68px;
}

.CFTotalWithoutAdditivesLabel {
  height: 100%;
  border-top: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
  /* border: 1px solid rgba(0, 0, 0, 0.319); */
}

.CFTotalWithoutAdditivesinGrams,
.CFTotalWithoutAdditivesinVolume {
  height: 100%;
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CFBulkConverstedTableandBindersAndAdditives {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.CFBinderHead {
  display: flex;
  justify-content: space-between;
}

.CFBindersAndAdditives {
  width: 49%;
  border: 1px solid rgba(0, 0, 0, 0.319);
  padding: 1rem;
}

.CFBinder1Div,
.CFBinder2Div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CFBindersHeading {
  font-size: 20px;
  font-weight: 600;
}

.CFBinderName {
  font-size: 18px;
  font-weight: 500;
}

.CFBinder1Div input[type="text"],
.CFBinder2Div input[type="text"] {
  width: 150px;
  text-align: center;
}

.CFTotalCalcDiv {
  margin-left: 2rem;
}

.CFSelectAdditives {
  width: 200px;
  padding: 1rem;
  margin-top: -1rem;
  font-size: 18px;
  font-weight: 500;
}

.CFSelectAdditivesDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.CFSelectAdditivesDiv p {
  margin-top: 1rem;
}

.CFTotalWithAdditives {
  display: flex;
  flex-direction: column;
}

.CFTotalWithAddUnit {
  display: flex;
  justify-content: end;
}

.CFTotalWithAddAndBinder {
  display: flex;
  justify-content: space-between;
}

.CFtotalwithAddValuesDiv {
  display: flex;
}

.CFtotalwithAddValues {
  width: 200px;
  text-align: center;
  margin-left: 2rem;
}

.CFBulkConvertionTable {
  width: 50%;
}

.CFsolidContentCalcDivArea {
  margin-top: 0rem;
  width: 49%;
  border: 1px solid rgba(0, 0, 0, 0.319);
  padding: 2rem 1rem;
}

.CFsolidContentCalcDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.CFSolidContentInput {
  width: 300px;
  text-align: center;
  margin-top: -10px;
}

.CFSolidContentInputNoLabel {
  width: 350px;
  text-align: center;
  margin-top: -10px;
  height: 45px;
}

.CFsolidContentCalcDivNoLabel {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 1rem 0;
}

.CFRemark {
  margin-top: 3rem;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.319);
  background-color: #6b6b6b;
  border-radius: 5px;
  margin-bottom: 5rem;
}

.CFRemarkHeading {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #414141;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.CFRemarkHeading p {
  margin-top: 1rem;
}

.CFRemarksDIv {
  height: 6rem;
  padding: 1rem;
  color: whitesmoke;
  width: 100%;
}

.CFslNo {
  width: 1rem;
}

.CfTinders {
  width: 10rem;
}

.GramInputTotal,
.LiterInputTotal,
.R1C1,
.R1C2,
.R1C3,
.R1C4,
.R1C5,
.R1C6 {
  border: none;
  background-color: transparent;
  /*transparent;*/
  outline: none;
  width: 4rem;
  font-size: 15px;
  font-weight: 500;
}

.GramInputTotal,
.LiterInputTotal {
  width: 7rem;
}

.CFTinters {
  background-color: transparent;
  font: 30px;
  font-weight: 600;
  width: 10rem;
  padding: 1rem 1rem;
  border: none;
}

.CFInputTotal {
  font-size: 1.4rem;
}

.CFInpValue {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.CFTotalInputElementsGrams,
.CFTotalInputElementsLiter {
  width: auto;
}

#TotalQtyInGram,
#TotalQtyInLiter {
  width: 180px;
  background-color: transparent;
  text-align: center;
}

#TotalAdditives {
  width: 50%;
}


#CFRemarks {
  background-color: transparent;
  width: 100%;
  border: none;
  color: whitesmoke;
  font-size: 20px;
}


.readonly-input {
  outline: none;
  border: none;
  background-color: rgba(224, 224, 224, 0.255);
  padding: 1rem 0;
  text-align: center;
  /* Add more styles as needed */
}

.CFAllDiv {
  margin-bottom: 10rem;
}






/* Creating formula Ends */



/* admin Side Starts */

.AdminPage {
  display: flex;
  flex-direction: row;
}

.ADSidebar {
  width: 25%;
  /* height: 130%; */
  position: absolute;
  background-color: #3D3D3D;
  padding-bottom: 10rem;
}

.ADSidebarLogoDiv {
  width: 300px;
}

.AdLogo {
  margin: 4vh 0vw 0vh 4vw;
  width: 15vw;
  user-select: none;
}

.ADSelectioSideBarDIv {
  margin-top: 10vh;
}

.ADSelectioSideBarDIv a {
  text-decoration: none;
}

.Category {
  user-select: none;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 95%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 5px;
}

.Category:hover {
  background-color: #5e5e5e;
}

.ADactiveButton {
  background-color: #848484;
  -webkit-box-shadow: -7px 7px 4px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -7px 7px 4px -1px rgba(0, 0, 0, 0.61);
  box-shadow: -7px 7px 4px -1px rgba(0, 0, 0, 0.61);
}

.ADactiveButton .ADMoreIcon {
  margin: 1vh 2vw 0vh 0vw;
}



.ADDelectionSideBarLabel {
  font-size: 2vw;
  color: white;
  font-weight: 600;
  margin: 0.7vh 0vw 0.6vh 1vw;
}

.ADMoreIcon {
  margin: 1vh 4vw 0vh 0vw;
  width: 2vw;
  height: 2vw;
}

.ADAccount {
  display: flex;
  justify-content: space-around;
  user-select: none;
  margin-left: 2vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  width: 80%;
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 25px;
}

.ADAccount:hover {
  background-color: #5e5e5e;
  border: none;
}

.ADAccountIcon {
  margin: 1vh 2vw 0vh 0vw;
  width: 2vw;
  height: 2vw;
  transform: rotate(90deg);
}

.ADAccountExpandDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;

  margin-top: -2vh;
  margin-left: 2vw;
  background-color: #2a2a2a;
  border-radius: 15px;
  display: none;
  padding-top: 1rem;

}

.ADAccountExpandDiv a {
  height: 100%;
  width: 100%;
}

.ADlogoutDiv {
  padding: 0vw;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.ADlogoutDiv p {
  margin-top: 1vh;
  font-size: 30px;
  color: whitesmoke;
  font-weight: 600;

}

.ADLogoutIcon {
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 1.5vh;
  margin-left: 1vw;
}

.ADAccount:hover+.ADAccountExpandDiv,
.ADAccountExpandDiv:hover {
  display: block;
}


.AdMainArea {
  margin-left: 25%;
  width: 75%;
  height: 100;
  /* padding-bottom: 84vh; */
  /* background-color: #f7f5f1cc; */
}

.ADMainAreaHeader {
  font-size: 6vw;
  font-weight: 700;
  margin: 5vh 0vw 0vh 3vw;
}

.ADMainAddButtonDiv {
  display: flex;
  justify-content: end;
  margin-right: 10vw;
}

.ADMainAddButtonDiv a {
  text-decoration: none;
}

.ADMainAddButton {
  width: 250px;
  height: 50px;
  background-color: #3D3D3D;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  user-select: none;
}

.ADMainAddButton p {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 9px;
}

.ADAddNewIcon {
  width: 35px;
  height: 35px;
  margin-top: 8px;
}

.VPPTable td{
  font-size: 19px;
  font-weight: 600;
}

.VPPRemoveBTN{
  background-color: #de1111e0;
  color: whitesmoke;
  font-weight: 600;
}

.VPPRemoveBTN:hover {
  color: white;
  background-color: #db0505;
}

.ADMainTableDiv {
  margin: 5vh 0 0 3vw;
  width: 85%;
  max-height: 80vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  border: 1px solid gray;
  border-radius: 25px;
}

.ADMainTable {
  width: 100%;
}

.ADTable {
  width: 100%;
}

.ADTable tr {
  height: 60px;
}

.ADTableHeadTR {
  height: 40px;
}

.ADdeleteIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.ADSubCategorySelectionArea {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 7vw;
  padding-top: 2rem;
}

.ADSubCategorySelectionDiv {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 2rem;
}

.ADSubCategorySelectionLabel {
  font-size: 1.7rem;
  font-weight: 600;
}

.ADSubCategorySelectionSelectBox {
  width: 13rem;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0 0 0 1.5rem;
}


/* form for add Category */
#ADpopupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.5);
  /* Red with 50% opacity */
  backdrop-filter: blur(8px);
  /* Blurred effect */
  justify-content: center;
  align-items: center;
  transition: display 2s ease-in;
}

#ADpopupContent,
#ADpopupContentSubCategory,
#ADpopupContentAdditive,
#ADpopupContentEmployee {
  width: 400px;
  height: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#ADpopupContentSubCategory {
  height: 900px;
  width: 600px;
}

#ADpopupContentAdditive {
  height: 510px;
}

#ADpopupContentEmployee {
  height: 645px;
}

.ADAddCategoryFromHeaderDiv {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ADAddCategoryFromHeader {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.ADaddCloseBTNIcon {
  width: 3rem;
  height: 3rem;
  margin-top: -1rem;
}

.ADAddCategoryFromDiv {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.ADAddCategoryLabel {
  font-size: 1.2rem;
  font-weight: 600;
}

.ADAddCategoryTextInput {
  width: 100%;
  padding: .5rem .5rem .5rem 1rem;
  margin-bottom: 2rem;
}

.ADaddCategorySubmitBTN {
  width: 80%;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}

.ADSelectCategory {
  margin-bottom: 2rem;
  width: 100%;
  padding: .5rem .5rem .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.ADSelectCategoryOptions {
  margin-bottom: 2rem;
  width: 100%;
  padding: .5rem .5rem .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.ADSubCategoryWholeFrame {
  margin-top: -1rem;
  background-color: rgba(145, 136, 115, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ADSubCategorySubPageSsection {
  width: 100%;
  background-color: #F7F7F8;
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  border-radius: 25px;
}

.ADEditSubRProDiv {
  display: flex;
  justify-content: end;
}

.viewProductsBTN {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #008bc2;
  margin: 0;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.VPPHeading {
  font-size: 25px;
  font-weight: 600;
}

.viewProductsBTN:hover {
  color: rgb(241, 241, 241);
  background-color: #0280b2;
}

.ADSubCategoryNotAvailable {
  font-size: 2rem;
  font-weight: 600;
  color: red;
}

.ADProductsAddingFormDiv {
  width: 100vw;
  height: 100%;
  padding: 3rem 0;
  background-color: rgba(145, 136, 115, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ADProductsAddingMainDiv {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 15px;

}

.ADProductsAddingFormDiv__title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding: 2rem 0;
}

.ADFormAdding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ADFormAddingCatgorySelection {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.ADFromAddingSingleRow {
  margin: 0 2.5rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.ADProductInputBox {
  font-size: 20px;
  font-weight: 700;
  padding-left: 1rem;
}

.ADPRoductSubmitBTN {
  width: 50%;
  padding: 1rem 0;
  background-color: #578af8;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.ADProductEditBTN {
  width: 5rem;
  font-weight: 800;
}

.PCopyBtn {
  margin-top: -3rem;
  margin-bottom: 4rem;
}

.productDeleteBTN {
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.password-icon {
  position: relative;
  top: -59px;
  left: 92%;
  cursor: pointer;
}

.ADemployeeAddforminput {
  font-size: 20px;
  font-weight: 700;
}

.ADEmployeePass {
  padding-right: 2.5rem;
}

.ADEmplyeeTablePassBox {
  border: none;
  /* width: 150px; */
  margin-left: -40px;
  margin-right: -60px;
}

.ADTBpassword-icon {
  position: relative;
  top: 0px;
  left: 20%;
  cursor: pointer;
}

#AdEditEmployee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#ADEditEmployeeSubDiv {
  width: 50%;
  margin: 3rem auto;
}

.ADpassword-icons {
  position: relative;
  top: -62px;
  left: 95%;
  cursor: pointer;
}

/* CSS to display radio buttons horizontally */
.ADPopUpRadioButtonDIV {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
}

.ADPopUpRadioButton {
  display: inline-block;
  margin-left: 1rem;
  margin-top: -0.2rem;
}

.ADPopUpRadioButton input[type="radio"] {
  display: none;
}

.ADPopUpRadioButton label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
}

.ADPopUpRadioButton input[type="radio"]:checked+label {
  background-color: #4d67b6;
  color: whitesmoke;
}


.BinderSelect,
.BinderSelect option {
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.BinderSelect option {
  margin: 1rem;
}

.BinderSelectDiv {
  margin-bottom: 2rem;
}

.AddSubCategoryPage {
  height: auto;
  margin-bottom: 3rem;
}

.DivForVerticalGap {
  margin-top: 2rem;
}


/* Create formula finished */


/* Order Placement */

.Container {
  width: 100vw;
  padding: 3rem;
}

.BOAllArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
}

.BOHeader {
  /* background-color: #03a9f4; */
  padding: 3rem 0;
  margin-bottom: 0rem;
  width: 100%;
}

.BOHeader p {
  font-size: 30px;
  font-weight: 800;
}

.BOMainSection {
  width: 100%;
  padding: 3rem;
  border: 1px solid gray;
  border-radius: 30px;
}

.BOTopsection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.BOTopSection1,
.BOTopSection3 {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.BODateDiv,
.BOFileNoDiv,
.BOCutomerRefDiv,
.BOCustomerNameDiv,
.BOProjectNo,
.BOMixer,
.BOColorName,
.BOColorCode,
.BOCategory,
.BOSubCategory {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 25px;
  font-weight: 600;
}

.BOTopsection input[type="text"] {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  outline: none;
  /* Optional: Removes the default outline style */
}

.BOTopSection2Line {
  border: 1px solid gray;
}

.BOEnterQuantityDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin: 3rem 0;
}

.BOEnterQuantityDiv label {
  margin-top: 10px;
  margin-right: 1rem;
}

.BOEnterQuantityDiv input[type="text"] {
  height: auto !important;
  padding: .7em 1em;
  text-align: center;
  width: 250px;
}

/* BO Table */
.BOTableDiv {
  width: 100%;
  border: 1px solid gray;
}

.BOQTYTable {
  width: 100%;
}

.BOTableHeader {
  background-color: #636363;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 600;
}

.BOTableDataRow {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.BOTableDataRow input[type="text"],
.BOBinderLeftSection input[type="text"],
.BOBinderRightSection input[type="text"],
.BOAdditiveLeftSection input[type="text"],
.BOAdditiveRightSection input[type="text"],
.BOBottomLeftItem input[type="text"],
.BORemarksPDiv input[type="text"] {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem 0;
  text-align: center;
}


.BOBinderDIv,
.BOAdditiveDiv,
.BOBottomSectionDiv {
  width: 70%;
  font-size: 25px;
  margin: 3rem 0;
  padding: 0 2rem;
}

.BOBinderHeader,
.BOAdditiveHeader {
  font-size: 25px;
  font-weight: 700;
}

.BOBinder1Div,
.BOBinder2Div,
.AdditiveMainSection {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.BOBinderLeftSection,
.BOBinderRightSection,
.BOAdditiveLeftSection,
.BOAdditiveRightSection {
  display: flex;
}

.BOBinderLeftSection label,
.BOBinderRightSection label,
.BOAdditiveLeftSection label,
.BOAdditiveRightSection label,
.BOBottomLeftItem label {
  margin: 1rem;
}

.BOBottomSectionDiv {
  width: 100%;
}

.BOBottomLeftSection,
.BOBottomRightSection {
  width: 50%;
}

.BOBottomLeftItem {
  display: flex;
}

.BOBottomSectionDiv {
  display: flex;
}


.BORemarksDIVBox {
  margin: 0 4rem;
  width: 90%;
  height: 15rem;
  background-color: #656a6f;
}

.BORemarkHeaderDiv {
  width: 100%;
  height: 5rem;
  background-color: #434343;
}

.BORemarkHeader {
  color: white;
  font-size: 25px;
  padding: 1.5rem 2rem;
  font-weight: 700;
}

.BORemarksPDiv input[type="text"] {
  padding: 1rem 2rem;
  font-size: 23px;
  font-weight: 600;
  color: whitesmoke;
}

.BOFormSubmitBTNDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  margin-top: 4rem;
}

.BOFormSubmitBTNDiv input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-color: rgb(17, 21, 28);
  color: whitesmoke;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
}

.BOFormSubmitBTNDiv input[type="submit"]:hover {
  color: aliceblue;
  background-color: rgb(7, 12, 81);
  border-radius: 5px;
}

#BORemarksTextArea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: whitesmoke;
  font-weight: 600;
  padding: 2rem;
  overflow: hidden;
  border: none;
}

.BOLowStocks {
  color: red;
  font-size: 20px;
  text-align: center;
}

/* Bulk Order Placements ENd Here */



/* Formula Lists */

.FLmainArea {
  margin-top: 2rem;
  margin-bottom: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.FLHeaderDiv {
  width: 100%;
}

.FLHeader {
  font-size: 30px;
  font-weight: 700;
}

.FLMainSectionDiv {
  /* border: 1px solid gray;
  border-radius: 25px;*/
  padding: 3rem 0;
}

.FLEachItemDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0;
}

.FLEachItemLeftSection,
.FLEachItemRightSection {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.EachItemLabel {
  font-size: 20px;
  font-weight: 500;
}

.FLActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.FLBulkHyperDIv {
  padding: 0.5rem 1rem;
  background-color: #1c3753;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.FLBulkHyperDIvPrint {
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.FLBulkHyperLabelPrint {
  margin: 0;
  color: #1c3753;
}

.FLEachItemRightSection a {
  text-decoration: none;
}

.FLBulkHyperLabel {
  color: whitesmoke;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0.6rem;
}

.FLTableHeader {
  font-size: 25px;
}

.FLTableData {
  font-size: 20px;
  font-weight: 600;
}

.dataTables_wrapper .dataTables_length {
  padding-bottom: 2rem;
}

.BulkOrderAtag {
  text-decoration: none;
}


.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #a50404;
  border-radius: 3px;
  padding: -45px;
  background-color: transparent;
  margin-left: 3px;
}

/* Formula List Ends Here */


/* Update Stocks Start here */

.USMainDiv {
  height: auto;
}

.USMainHeaderDiv {
  margin: 2rem 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.USHeaderEachItemDiv {
  /* background-color: rebeccapurple; */
  padding: 0.5rem;
  border-bottom: 3px solid rgb(77, 77, 77);
}

.USHeaderEachItemDiv:hover {
  padding-bottom: 1rem;
  border-bottom: 5px solid rgb(95, 148, 27);
}

.USHeaderEachItemDivActive {
  border-bottom: 5px solid rgb(135, 217, 27);
}


.USHeaderEachItemDiv p {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 600;
}


.USMainContentDiv {
  width: 100%;
  margin-top: 5rem;
  height: auto;
  margin-bottom: 10rem;
}


#myTable_filter {
  margin-bottom: 1rem;
}

.USFormReadOnly {
  padding: 1rem 0;
  font-size: 20px;
}

.USFormWriteOnly {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid gainsboro;
  margin-right: 2rem;
}

.USAtag {
  text-decoration: none;
  color: rgb(11, 11, 11);
}

.USAtag:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.USHeader {
  font-size: 30px;
  font-weight: 600;
}

/* Admin Copy Product Starts Here */

.CPProductWholeFrame {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  background-color: rgba(145, 136, 115, 0.5);
  padding-bottom: 5rem;
}

.CPProductInnerFrame {
  width: 100%;
  padding: 3rem;
  background-color: #faf9f9;
  border-radius: 25px;
}

.CPProductMainHeader {
  font-size: 35px;
  font-weight: 700;
}

.CPProductsecondaryHeader {
  font-size: 30px;
  font-weight: 600;
}

.CPProductDetailsDiv {
  width: 100%;
  display: flex;
}

.CPPLeftSection,
.CPPRightSection {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.CPPnameQ,
.CPPnameA {
  font-size: 20px;
  font-weight: 600;
  margin-right: 2rem;
  margin-top: 1rem;
}

.CPPSelectBox {
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.CPPCopyBTNSection {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Admin Copy Product ends Here */