<div class="ParentCardsDiv">

</div>

<div class="eachChildDiv">
    {{!-- this has its own multiple elements inside --}}
</div>


here i want to add multiple child divs to the parent div, but it should contain a for loop to make changes in each div, and add that div to parent div








  {{!-- <div class="EachCard col-12 col-md-5 col-lg-3 ">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div> --}}

                    {{!-- <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div>
                    <div class="EachCard col-12 col-md-5 col-lg-3">
                        <div class="cardNamesection">
                            <p class="Cardname">13-10-23-100468</p>
                            <img src="/images/Icons/Edit.jpg" class="CardEditIcon" alt="">
                        </div>
                        <div class="cardImagesection">
                            <img src="/images/RefImages/10055.jpg" class="cardImg">
                        </div>
                    </div> --}}